<div class="panel panel-primary">

    <div class="panel panel-body">

        <div class="row">
            <!-- design for filter by text-->
            <div class="col-md-2">

            </div>
            <!-- design for textbox -->
            <div class="col-md-4">

            </div>
            <!-- design for sort by text -->
            <div class="col-md-2">

            </div>
            <!-- div for dropdown -->
            <div class="col-md-4">

            </div>
        </div>
        <br>

        <!-- design for no of products -->
        <div class="panel panel-heading" *ngIf='products'>
            <h3>
                {{products.length}} Records found...
            </h3>
        </div>
        <br>

        <!-- alternate design -->
        <div class="table-responsive" *ngIf='products && products.length>0'>
            <table class="table">
                <thead style="background-color: burlywood">
                    <tr>
                        <!-- add button here -->
                        <th>
                            Image
                        </th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Price</th>
                        <th>Rating</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products'>
                        <!-- add alternate design here too -->
                        <td>
                            <!-- image here -->
                            <div class="img-responsive">
                                <img src="{{ product.imageUrl }}" alt="NA" [title]="product.productName"
                                    style="width: 50px;margin: 2px;">
                            </div>
                        </td>
                        <td>
                            <a href="#">
                                {{product.productName}}
                            </a>
                        </td>
                        <td>
                            {{ product.productCode }}
                        </td>
                        <td>
                            {{product.price}}
                        </td>
                        <td>
                            {{product.starRating}}
                        </td>
                        <td>
                            <button>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>